{% extends "web/base.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block content %}
    <div id="map">
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        (function() {

            var map = L.map( 'map' ).setView( [ -37.808970221752396, 144.9597930908203 ], 10 );

            L.tileLayer.wms("http://api.maps.vic.gov.au/geowebcacheWM/service/wms?SERVICE=WMS&TILED=true", {
                layers: 'WEB_MERCATOR',
                format: 'image/png',
                attribution: 'Map data &copy; <a href="http://api.maps.vic.gov.au">Vic Map</a>',
                maxZoom: 18,
                srs: 'EPSG:3857'
            }).addTo( map );

        })();
    </script>

{% endblock %}
