body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#map {
    height: 100%;
    position: relative;
}

#search {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#filters {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.filter {
    padding: 0.5em;
}

#time-of-day-slider {
    display: inline-block;
    width: 80%;
}

#time-of-day {
    display: inline-block;
    width: 15%;
    padding-left: 0.5em;
}

#filters label {
    width: 15%;
    padding-right: 0.5em;
    display: inline-block;
    font-weight: bold;
    text-align: right;
}

ul#toggles, ul#toggles > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#filters .ui-button {
    border: none;
    background: none;
    width: 48px;
    height: 48px;
}

#filters .icon.money .ui-button {
    background: url( '/static/web/images/buttons/button pay up.png' ) no-repeat center center;
}

#filters .icon.money .ui-button.ui-state-active {
    background: url( '/static/web/images/buttons/button pay down.png' ) no-repeat center center;
}

#filters .icon.mins-15 .ui-button {
    background: url( '/static/web/images/buttons/15 min up.png' ) no-repeat center center;
}

#filters .icon.mins-15 .ui-button.ui-state-active {
    background: url( '/static/web/images/buttons/15 min down.png' ) no-repeat center center;
}

#filters .icon.mins-20 .ui-button {
    background: url( '/static/web/images/buttons/20 min up.png' ) no-repeat center center;
}

#filters .icon.mins-20 .ui-button.ui-state-active {
    background: url( '/static/web/images/buttons/20 min down.png' ) no-repeat center center;
}

#filters .icon.mins-60 .ui-button {
    background: url( '/static/web/images/buttons/1P up.png' ) no-repeat center center;
}

#filters .icon.mins-60 .ui-button.ui-state-active {
    background: url( '/static/web/images/buttons/1P down.png' ) no-repeat center center;
}

#filters .icon.mins-120 .ui-button {
    background: url( '/static/web/images/buttons/2P up.png' ) no-repeat center center;
}

#filters .icon.mins-120 .ui-button.ui-state-active {
    background: url( '/static/web/images/buttons/2P down.png' ) no-repeat center center;
}